*.sh text eol=lf
*.py text eol=lf
*.js text eol=lf
*.ts text eol=lf
*.vue text eol=lf
*.css text eol=lf
*.html text eol=lf
*.md text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
manifest.sha256 text eol=lf
VERSION text eol=lf
release-assets-v*/ export-ignore
