include LICENSE
include THIRD_PARTY_NOTICES.md
include README.md
recursive-include ace_driver *.py
recursive-include config *.cfg
recursive-include docs *.md
recursive-include frontend *
recursive-include installer *.sh
recursive-include klipper_extras *.py
recursive-include moonraker *.py
recursive-include scripts *.py *.sh
